.md:top-sepuluh {
            top: 10%;
        }
.top-dua-puluh {
            top: 20%;
        }
.md-top-tiga-puluh {
            top: 30%;
        }

.xlenamratus {
            width: 600px !important;
        }
.smenamratus {
            width: 600px !important;
        }